.sub-list
  h2 Design
  ul.content
    li Product Design
    li Interaction Design
    li User Experience
    li Prototyping
    li Wireframing
    li Sketching
    li Typography
    li Sketch
    li Framer
    li Illustrator
    li Photoshop
.sub-list
  h2 Development
  ul.content
    li Front-end
    li JavaScript
    li HTML, CSS
    li Python, PHP
    li Objective-C
    li C, C++
    li Git
