.sub-list
  h2.body-header
    span.sub Development 
  .content.
    JavaScript, Python, C, C++, Objective-C,
    PHP, Ruby, HTML, CSS,
    React, Ember, React Native, Angular,
    NodeJS, Flask, MySQL, Git, Mercurial
.sub-list
  h2.body-header
    span.sub Design
  .content.
    Interface Design, Interaction Design, User Experience, User Research & Testing,
    Prototyping, Typography, Sketch, Framer, Illustrator,
    Photoshop
    
