.sub-list
  h2.body-header
    span.sub Development
  .content.
    JavaScript, Python, Rust, C/C++, C#, Java, PHP, 
    NodeJS, Flask, Tornado, React, React Native,<br/>
    Ember, Angular, HTML, CSS, Obj-C, 
    SQL, Postgres, MongoDB,  
    RethinkDB, numpy, pandas, scipy, TensorFlow,
    Unity, Git, Mercurial
.sub-list
  h2.body-header
    span.sub Design
  .content.
    Interaction Design, User Research,
    Prototyping, Sketch, Figma, Framer, Invision, 
    Illustrator, Photoshop
