.sub-list
  h2.body-header
    span.sub Development
  .content.
    JavaScript, Python, Java, C++, C#, Objective-C,
    React, React Native, Ember, Angular, jQuery,
    HTML, CSS, PHP, Node, SQL, Unity, Git
.sub-list
  h2.body-header
    span.sub Design
  .content.
    Interface Design, Interaction Design,
    User Experience, User Research & Testing,
    Prototyping, Sketch, Figma, Framer, Illustrator,
    Photoshop
