.education
  h1.section-header Education
  .sub-experience
    h2.body-header
      a(href='http://uwaterloo.ca', target='blank') University of Waterloo 
      span.sub - B.S. Computer Science
    h6.metadata 2013 - 2018 | Waterloo, Canada
    
    h2.body-header
      span.sub Relevant Courses    
    .content.
      Algorithms, Data Structures &amp; Data Management,
      Functional Programs, Object-Oriented Programming,
      Sequential Programs, Operating Systems, Numerical Computations
