.education
  h1.section-header Education
  .sub-experience
    h2.body-header
      a(href='http://uwaterloo.ca', target='blank') University of Waterloo
      span.sub &nbsp;&ndash; B.S. Computer Science
    h6.metadata 2013 – 2018 | Waterloo, Canada

    h2.body-header
      span.sub Relevant Courses
    .content.
      Algorithms, Data Structures, Functional Programs,
      Operating Systems, Numerical Computation, Artificial Intelligence,
      Machine Learning (Coursera), User Interfaces & HCI, User Experience Design, Design for Interactive Games, Information Design
