.experience
  h1.section-header Experience
  .sub-experience
    h2.body-header
      a(href='http://freshbooks.com', target='blank') FreshBooks 
      span.sub - Software Developer Intern
    h6.metadata Summer 2016 &nbsp;|&nbsp; Toronto, Canada
    ul.content
      li Contributed to the Python & Ruby microservices for auth, billing, file uploads, emails, and banking.
      li Added features to FreshBooks' Ember front-end that resulted in an increase in user retention & activity. 
       
  .sub-experience
    h2.body-header
      a(href='http://hackthenorth.com', target='blank') Hack the North 
      span.sub - Platform Developer
    h6.metadata March 2016 - Present &nbsp;|&nbsp; Waterloo, Canada
    ul.content
      li Built & launched the application & attendee dashboard using React & Redux, used by 5000+ people.
      li Built an internal team dashboard using Flask, focused towards helping the organization of the event.

  .sub-experience
    h2.body-header
      a(href='http://hootsuite.com', target='blank') Hootsuite 
      span.sub - Software Engineering Intern
    h6.metadata Fall 2015 &nbsp;|&nbsp; Vancouver, Canada
    ul.content
      li Migrated front-end to a React & Flux based architecture to achieve modularity and scalability.
      li Created new REST endpoints for PHP-based API to extend functionality & support new features.
      li Developed components for the new dashboard interface design.
       
  .sub-experience
    h2.body-header
      a(href='http://mappedin.com', target='blank') MappedIn 
      span.sub - Product Design Intern
    h6.metadata Winter 2015 &nbsp;|&nbsp; Kitchener, Canada
    ul.content
      li Analyzed usage data from Mixpanel and conducted usability evaluation to identify issues in user flows.
      li Led the redesign of the layout, workflows & components of the MappedIn venue management CMS.
      li Developed a web style guide to achieve functional and visual consistency across the product.
      
  .sub-experience
    h2.body-header
      a(href='http://mappedin.com', target='blank') MappedIn 
      span.sub - Design Intern
    h6.metadata Summer 2014 &nbsp;|&nbsp; Kitchener, Canada
    ul.content
      li Created user flows, wireframes, visual designs & prototypes for interactive wayfinding kiosks.
      li Led design and prototyping for the MappedIn iOS and Android apps.
      li Developed an internal product tracking tool using AngularJS
      li Designed, developed and tested HTML emails.
