.experience
  h1.section-header Experience
  .sub-experience
    h2.body-header
      a(href='http://coursera.org', target='blank') Coursera
      span.sub &nbsp;&ndash; Software Engineering Intern
    h6.metadata 2017 &nbsp;|&nbsp; Mountain View, CA, US
    ul.content
      li Worked on universal React apps that power search & discovery, user profiles, and SEO for coursera.org
      li Built promotional units for university programs, increasing visits by 300% & expressions of interest by 160%
      li Contributed to engineering Coursera's design system for consistency & accessibility across the product

  .sub-experience
    h2.body-header
      a(href='http://hackthenorth.com', target='blank') Hack the North
      span.sub &nbsp;&ndash; Platform Team Lead
    h6.metadata 2016 &ndash; Present &nbsp;|&nbsp; Waterloo, Canada
    ul.content
      li Led the development of the attendee dashboard, written in React & Redux, used by 5000+ people
      li Co-led registration logistics and built a check-in dashboard to register people attending the event
      li Built internal tools to help optimize the organization of the event using data

  .sub-experience
    h2.body-header
      a(href='http://freshbooks.com', target='blank') FreshBooks
      span.sub &nbsp;&ndash; Software Developer Intern
    h6.metadata 2016 &nbsp;|&nbsp; Toronto, Canada
    ul.content
      li Developed the Python backend for a new microservice to support banking transactions in FreshBooks
      li Built the Ember frontend for new features in FreshBooks that resulted in increased user retention & activity
      li Extended the file upload API to handle cropping & resizing user uploaded images to optimize rendering
      li Refactored Python & Ruby based auth, billing, mailing and conversations services to use hashed IDs in JWTs

  .sub-experience
    h2.body-header
      a(href='http://hootsuite.com', target='blank') Hootsuite
      span.sub &nbsp;&ndash; Software Engineering Intern
    h6.metadata 2015 &nbsp;|&nbsp; Vancouver, Canada
    ul.content
      li Migrated the frontend to a React & Flux based architecture to achieve modularity and scalability
      li Created new REST endpoints in the PHP-based API to extend functionality & support new features
      li Developed components for the new user interface design of the Hootsuite dashboard

  .sub-experience
    h2.body-header
      a(href='http://Mappedin.com', target='blank') Mappedin
      span.sub &nbsp;&ndash; Product Design Intern
    h6.metadata 2014 &ndash; 2015 &nbsp;|&nbsp; Kitchener, Canada
    ul.content
      li Led design & prototyping for Mappedin's web venue management CMS, mobile apps & interactive kiosks
      li Developed an internal product tracking tool using AngularJS
