.projects
  h1.section-header Projects
  .sub-list
    h2.body-header 
      a(href='https://www.npmjs.com/package/react-native-qrcode-scanner') React Native QR Code
      span.sub.link 
        a(href='https://npmjs.com/package/react-native-qrcode-scanner') – npmjs.com/package/react-native-qrcode-scanner
    span.content  – Library for scanning QR codes.
  .sub-list
    h2.body-header 
      a(href='https://github.com/moaazsidat/clearskies') ClearSkies
      span.sub.link 
        a(href='https://github.com/moaazsidat/clearskies') – github.com/moaazsidat/clearskies
    span.content  – An app that determines if it's safe to fly your drone.
  .sub-list
    h2.body-header
      a(href='http://moaazsidat.com/gips') Gips
      span.sub.link 
        a(href='http://moaazsidat.com/gips') – moaazsidat.com/gips
    span.content  – A mac app and Finder extension that simplifies basic image processing.
  .sub-list
    h2.body-header
      a(href='http://devpost.com/software/rememberalll') Rememberalll 
      span.sub.link 
        a(href='http://devpost.com/software/rememberalll') – devpost.com/software/rememberalll
    ul.content 
      li 
        span.bold Top 10 at Hack the North 2014 
        span - A video journaling service that allowed search based on audible and visual content, built using AngularJS, Wit.ai and ReKognition.
  .sub-list
    h2.body-header WLP4 Compiler 
    span.content  – Compiler for a subset of C, as part of Sequential Programming course.
    
  .sub-list
    h2.body-header SquareSwapper5000
    span.content  – C++ version of the popular game CandyCrush, built as part of OOP course.
