.projects
  h1.section-header Projects
  .sub-list
    h2.body-header
      a(href='https://www.npmjs.com/package/react-native-qrcode-scanner') React Native QR Code
      span.sub.link
        a(href='https://npmjs.com/package/react-native-qrcode-scanner') &nbsp;– npmjs.com/package/react-native-qrcode-scanner
    span.content  – Module for scanning QR codes
  //- .sub-list
  //-   h2.body-header
  //-     a(href='https://github.com/moaazsidat/react-raw-intro') Raw React Intro
  //-   span.content  – 15 minute coding workshop to introduce fundamental concepts in 
  //-     a(href='https://facebook.github.io/react/') ReactJS
  .sub-list
    h2.body-header
      a(href='https://github.com/moaazsidat/clearskies') ClearSkies
      span.sub.link
        a(href='https://github.com/moaazsidat/clearskies') &nbsp;– github.com/moaazsidat/clearskies
    span.content  – API for an app that determines if it's safe to fly your drone
  .sub-list
    h2.body-header
      a(href='http://moaazsidat.com/gips') Gips
      span.sub.link
        a(href='http://moaazsidat.com/gips') &nbsp;– moaazsidat.com/gips
    span.content  – A Mac OS X app and Finder extension that simplifies basic image processing
  .sub-list
    h2.body-header
      a(href='http://devpost.com/software/rememberalll') Rememberalll
      span.sub.link
        a(href='http://devpost.com/software/rememberalll') &nbsp;– devpost.com/software/rememberalll
    span.bold.italic.content &nbsp;– Top 10 at Hack the North 2014
    div.content Video journaling with search based on audible & visual content, built using AngularJS, Wit.ai & ReKognition
  .sub-list
    h2.body-header WLP4 Compiler
    span.content  – Compiler for a subset of C programming language
