.profile
  h1.
    Moaaz Sidat
  h2
    //- a.sub-block(href='mailto:moaazsidat@gmail.com', target='blank') moaazsidat@gmail.com
    a.sub-block(href='http://moaazsidat.com', target='blank') moaazsidat.com
    //- a.sub-block (+1) 226 606 5033
.contact
  .column
    h2
      a.sub-block(href='mailto:moaazsidat@gmail.com', target='blank') moaazsidat@gmail.com
      a.sub-block (+1) 226 606 5033
  .column
    h2
      a.sub-block(href='http://github.com/moaazsidat', target='blank') github.com/moaazsidat
      a.sub-block(href='http://linkedin.com/in/moaazsidat', target='blank') linkedin.com/in/moaazsidat
